*{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: sans-serif;
  min-height: 100vh;
}

/*helpers*/

.section{
  max-width: 600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.column{
  display: flex;
  flex-direction: column;
}

.row{
  display: flex;
  flex-direction: row;
}

.space-between{
  justify-content: space-between;
}

.v-align-center{
  align-items: center;
}

.show.modal{
  height: 100vh;
  overflow: hidden;
}

.modal-wrapper{
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal{
  background-color: white;
  padding: 16px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.header{
  background-color: black;
  padding: 16px;
  color: white;
}

.header-content{
  align-items: center;
}

.brand{
margin-top: 0;
margin-bottom: 0;
}

.nav li{
  list-style: none;
  margin-right: 16px;
}

.content{
  flex-grow: 1;
}
